.Main {
}

.Main .Start {
    /* Center the tag editor */
    margin-top: 75px;
    margin-left: 15%;
    margin-right: 15%;
}
.Main .Rooms {
    /* Center the tag editor */
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;   
}